<!-- <ul> -->
<li><a class="page-link" href="/hardware/">Hardware</a></li>
<ul>
    <li><a class="page-link" href="/hardware/basics/">Basics</a></li>
    <li><a class="page-link" href="/hardware/interfaces/">Interfaces</a></li>
    <li><a class="page-link" href="/hardware/planning/">Planning</a></li>
    <li><a class="page-link" href="/hardware/design/">Design</a></li>
    <li><a class="page-link" href="/hardware/realization/">Realization</a></li>
</ul>

<li><a class="page-link" href="/software/">Software</a></li>
<ul>
    <li><a class="page-link" href="/software/source-development-kit/">Development Kit</a></li>
    <li><a class="page-link" href="/software/editor-ide/">Editor / IDE</a></li>
    <li><a class="page-link" href="/software/debugging/">Debugging</a></li>
    <li><a class="page-link" href="/software/wi-fi-transceiver/">Wi-Fi Transceiver</a></li>
    <li><a class="page-link" href="/software/input-output/">Input / Output</a></li>
    <li><a class="page-link" href="/software/interrupts/">Interrupts</a></li>
    <li><a class="page-link" href="/software/timer-and-events/">Timer and Events</a></li>
    <li><a class="page-link" href="/software/low-power-modes/">Low Power Modes</a></li>
    <li><a class="page-link" href="/software/peripherals/">Peripherals</a></li>
</ul>
<!-- </ul> -->