
<div class="nav-section">
    <div class="nav-section-header"><a href="/hardware/"><span class="glyphicon glyphicon-hdd"></span>Hardware</a></div>
    <ul class="nav-section-links">
        <li><a href="/hardware/basics/"><span class="glyphicon glyphicon-menu-right"></span>Basics</a></li>
        <li><a href="/hardware/interfaces/"><span class="glyphicon glyphicon-menu-right"></span>Interfaces</a></li>
        <li><a href="/hardware/planning/"><span class="glyphicon glyphicon-menu-right"></span>Planning</a></li>
        <li><a href="/hardware/design/"><span class="glyphicon glyphicon-menu-right"></span>Design</a></li>
        <li><a href="/hardware/layout/"><span class="glyphicon glyphicon-menu-right"></span>Layout</a></li>
        <li><a href="/hardware/realization/"><span class="glyphicon glyphicon-menu-right"></span>Realization</a></li>
    </ul>
</div>

<div class="nav-section">
    <div class="nav-section-header"><a href="/software/"><span class="glyphicon glyphicon-console"></span>Software</a></div>
    <ul class="nav-section-links">
        <li><a href="/software/sdk-ide/"><span class="glyphicon glyphicon-menu-right"></span>SDK + IDE</a></li>
        <li><a href="/software/input-output/"><span class="glyphicon glyphicon-menu-right"></span>Input / Output</a></li>
        <li><a href="/software/wi-fi-transceiver/"><span class="glyphicon glyphicon-menu-right"></span>Wi-Fi Transceiver</a></li>
        <li><a href="/software/tasks-timers-interrupts/"><span class="glyphicon glyphicon-menu-right"></span>Tasks, Timers, Interrupts</a></li>
        <li><a href="/software/peripherals/"><span class="glyphicon glyphicon-menu-right"></span>Peripherals</a></li>
        <li><a href="/software/power-modes/"><span class="glyphicon glyphicon-menu-right"></span>Power Modes</a></li>
    </ul>
</div>