/**
 * Site header
 */
.site-header {
    border-top: 5px solid $grey-color-dark;
    border-bottom: 1px solid $grey-color-light;
    min-height: 56px;

    // Positioning context for the mobile navigation icon
    position: relative;
}

.site-title {
    font-size: 26px;
    font-weight: 300;
    line-height: 56px;
    letter-spacing: -1px;
    margin-bottom: 0;
    float: left;

    &,
    &:visited {
        color: $grey-color-dark;
    }
}

.site-nav {
    float: right;
    line-height: 56px;

    .menu-icon {
        display: none;
    }

    .page-link {
        color: $text-color;
        line-height: $base-line-height;

        // Gaps between nav items, but not on the last one
        &:not(:last-child) {
            margin-right: 20px;
        }
    }

    @include media-query($on-palm) {
        position: absolute;
        top: 9px;
        right: $spacing-unit / 2;
        background-color: $background-color;
        border: 1px solid $grey-color-light;
        border-radius: 5px;
        text-align: right;

        .menu-icon {
            display: block;
            float: right;
            width: 36px;
            height: 26px;
            line-height: 0;
            padding-top: 10px;
            text-align: center;

            > svg {
                width: 18px;
                height: 15px;

                path {
                    fill: $grey-color-dark;
                }
            }
        }

        .trigger {
            clear: both;
            display: none;
        }

        &:hover .trigger {
            display: block;
            padding-bottom: 5px;
        }

        .page-link {
            display: block;
            padding: 5px 10px;

            &:not(:last-child) {
                margin-right: 0;
            }
            margin-left: 20px;
        }
    }
}



/**
 * Site footer
 */
.site-footer {
    border-top: 1px solid $grey-color-light;
    padding: $spacing-unit 0;
}

.footer-heading {
    font-size: 18px;
    margin-bottom: $spacing-unit / 2;
}

.contact-list,
.social-media-list {
    list-style: none;
    margin-left: 0;
}

.footer-col-wrapper {
    font-size: 15px;
    color: $grey-color;
    margin-left: -$spacing-unit / 2;
    @extend %clearfix;
}

.footer-col {
    float: left;
    margin-bottom: $spacing-unit / 2;
    padding-left: $spacing-unit / 2;
}

.footer-col-1 {
    width: -webkit-calc(35% - (#{$spacing-unit} / 2));
    width:         calc(35% - (#{$spacing-unit} / 2));
}

.footer-col-2 {
    width: -webkit-calc(20% - (#{$spacing-unit} / 2));
    width:         calc(20% - (#{$spacing-unit} / 2));
}

.footer-col-3 {
    width: -webkit-calc(45% - (#{$spacing-unit} / 2));
    width:         calc(45% - (#{$spacing-unit} / 2));
}

@include media-query($on-laptop) {
    .footer-col-1,
    .footer-col-2 {
        width: -webkit-calc(50% - (#{$spacing-unit} / 2));
        width:         calc(50% - (#{$spacing-unit} / 2));
    }

    .footer-col-3 {
        width: -webkit-calc(100% - (#{$spacing-unit} / 2));
        width:         calc(100% - (#{$spacing-unit} / 2));
    }
}

@include media-query($on-palm) {
    .footer-col {
        float: none;
        width: -webkit-calc(100% - (#{$spacing-unit} / 2));
        width:         calc(100% - (#{$spacing-unit} / 2));
    }
}



/**
 * Page content
 */
.page-content {
    padding: $spacing-unit 0;
}

.page-heading {
    font-size: 20px;
}

.post-list {
    margin-left: 0;
    list-style: none;

    > li {
        margin-bottom: $spacing-unit;
    }
}

.post-meta {
    font-size: $small-font-size;
    color: $grey-color;
}

.post-link {
    display: block;
    font-size: 24px;
}



/**
 * Posts
 */
.post-header {
    margin-bottom: $spacing-unit;
}

.post-title {
    font-size: 42px;
    letter-spacing: -1px;
    line-height: 1;

    @include media-query($on-laptop) {
        font-size: 36px;
    }
}

.post-content {
    margin-bottom: $spacing-unit;

    h1 {
        font-size: 2em;
        padding: 0.3em 0em;

        @include media-query($on-laptop) {
            font-size: 28px;
        }
    }

    h2 {
        font-size: 1.5em;
        padding: 0.3em 0em;

        @include media-query($on-laptop) {
            font-size: 28px;
        }
    }

    h3 {
        font-size: 1.25em;

        @include media-query($on-laptop) {
            font-size: 22px;
        }
    }

    h4 {
        font-size: 1em;

        @include media-query($on-laptop) {
            font-size: 18px;
        }
    }
}


body{
    color: #2c3e50;
    font-family: acumin-pro,sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
}

.sidebar {
    position: fixed;
    top: 0px;
    padding-top: 2%;
    background-color: #2c3e50;
    color: #fff;
}

.sidebar-header {
    text-align: center;
    margin-bottom: 10px;
}
.sidebar-header .title{
    padding-top: 15px;
    letter-spacing: 3px;
    text-transform: uppercase;
}

.sidebar-header .title a{
    text-decoration: none;
    color: #fff;
}

.sidebar li {
    display: block;
    font-size: 16px;
}

.sidebar li.divider {
    color: #EEE;
    padding: 20px 28px 5px;
    letter-spacing: 1.1px;
    text-transform: uppercase;
}

.sidebar li a {
    color: #009bc9;
    /* font-family: 'Ubuntu', sans-serif; */
    font-weight: bold;
    padding: 2px 28px;
    letter-spacing: 0;
}

a.nav-link {
    padding-bottom: 5px;
    padding-top: 7px;
    color: #aaa;
}
a.nav-link i{
    font-size: 16px;
}
a.nav-link:hover { color: #777; }

#bio {
    font-family: "Courier New", Courier, monospace;
    font-size: 11px;
    margin: 0 auto;
    margin-bottom: 10px;
}

#contact-list li .fa,
article .share .btn {
    -o-transition:color .2s ease-out, background 1s ease-in;
    -ms-transition:color .2s ease-out, background 1s ease-in;
    -moz-transition:color .2s ease-out, background 1s ease-in;
    -webkit-transition:color .2s ease-out, background 1s ease-in;
    transition:color .2s ease-out, background 1s ease-in;
}
#contact-list li:hover .fa-twitter,
article .share .twitter:hover {
    color: #00ACEE;
    border-color: #00ACEE;
}
#contact-list li:hover .fa-linkedin {
    color: #1D87BD;
}
#contact-list li:hover .fa-envelope {
    color: #E93E30;
}
#contact-list li:hover .fa-pinterest {
    color: #CC2127;
}
#contact-list li:hover .fa-rss {
    color: #e74c3c;
}
article .share .facebook:hover {
    color: #43609C;
    border-color: #43609C;
}
article .share .gplus:hover {
    color: #C13929;
    border-color: #C13929;
}

#contact-list-secondary {
    padding-bottom: 10px;
}

.page-header {
    color: #e74c3c;
    text-shadow: 1px 1px 1px rgba(150, 150, 150, 1);
}

@media only screen and (min-width: 768px) {
    .page-header{
        margin-right: 70px;
    }
}

article{
    padding: 0 32% 0 10%;
    margin-bottom: 40px;
    text-align: justify;
}

.article_body{
    margin-top: 20px;
    margin-bottom: 20px;
}

.post-date {
    text-transform: uppercase;
    font-size: 14px;
    letter-spacing: 3px;
}

article.home div a, article.home pre a { color: #2c3e50; }
article.home div a:hover, article.home pre a:hover { color: #2c3e50; text-decoration: none; }

article img {
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

h1,h2,h3,h4,h5,h6 {
    font-family: 'Ubuntu', sans-serif;
    color: #009bc9;
}

article.home h1,
article.home h2,
article.home h3,
article.home h4,
article.home h5,
article.home h6 {
    font-family: 'Ubuntu', sans-serif;
    color: #f2756a;
}

article.home h1 a,
article.home h2 a,
article.home h3 a,
article.home h4 a {
    color: #f2756a;
}
article.home h1 a:hover,
article.home h2 a:hover,
article.home h3 a:hover,
article.home h4 a:hover {
    color: #e74c3c;
}

.author .author-image {
    float: left;
    margin-right: 20px;
}

footer {
    padding-top: 15px;
    font-family: 'Ubuntu';
}

/* nav-vertical-tabs component */
.nav-tabs-vertical {
    border-right: 1px solid #ddd;
}

.nav-tabs-vertical li {
    margin-right: -1px;
}

.nav-tabs-vertical>li.active>a, .nav-tabs-vertical>li.active>a:hover, .nav-tabs-vertical>li.active>a:focus {
    color: #555;
    cursor: default;
    background-color: #fff;
    border: 1px solid #ddd;
    border-right-color: transparent;
}

.nav-tabs-vertical>li>a {
    line-height: 1.428571429;
    border: 1px solid transparent;
    border-radius: 4px 0 0 4px;
}

.badge { background: #F2756A; }

#nav-menu{
    position: fixed;
    top: 45px;
    right: 45px;
    z-index: 2000;
}
#nav-menu .dropdown-menu {
    left: inherit;
    right: 0px;
}

ul.dropdown-menu>li>a>i.fa {
    width: 1.3em;
}

a {
    text-decoration: none!important;
}

.center-image
{
    margin: 0 auto;
    display: block;
}

@media (max-width: 768px) {
    article {
        padding: 0px !important;
        margin: 0px !important;
    }
}