---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";

@import url(http://fonts.googleapis.com/css?family=Ubuntu:500&subset=latin,latin-ext);

$material_green: #009688;
$material_green2: #3bab55;
$material_green3: #1cab41;
$material_green4: #00796B;
$material_gray:  #414c6a;
$material_gray2: #2e3c2b;
$material_gray3: #182414;
$material_apricot: #e5b168;
$material_cyan: #9dd5c8;

// Our variables
$base-font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
$base-font-size:   16px;
$base-font-weight: 400;
$small-font-size:  $base-font-size * 0.875;
$base-line-height: 1.5;

$spacing-unit:     30px;

$text-color:       #111;
$background-color: #fff;
$brand-color:      #2a7ae2;

$grey-color:       #828282;
$grey-color-light: lighten($grey-color, 40%);
$grey-color-dark:  darken($grey-color, 25%);

// Width of the content area
$content-width:    1600px;

$on-palm:          600px;
$on-laptop:        800px;



// Use media queries like this:
// @include media-query($on-palm) {
//     .wrapper {
//         padding-right: $spacing-unit / 2;
//         padding-left: $spacing-unit / 2;
//     }
// }
@mixin media-query($device) {
    @media screen and (max-width: $device) {
        @content;
    }
}



// Import partials from `sass_dir` (defaults to `_sass`)
@import
        "base",
        "layout",
        "syntax-highlighting",
        "table"
;

@media (min-width: 1600px) {
  .container{
    max-width: 1400px;
  }
}
