<!DOCTYPE html>
<html>
    {% include head.html %}

    <body data-spy="scroll" data-target="#data-spy" data-offset="200">
        <div id="white-bg-dimmer"></div>
        <div class="container" id="content-container">
            {% include topbar-nav.html %}
            <div id="#top"></div>

            <div class="row">
                <div class="col-sm-2 hidden-xs sidebar">
                    <div id="affix-helper"></div>
                    <div data-spy="affix" id="sidebar-affix">
                        {% include header.html %}
                        {% include sidebar-nav.html %}
                    </div>
                </div>

                <div id="content" class="col-sm-8">
                    {{ content }}
                </div>
                
                <div class="col-sm-2" style="padding: 0px;">
                    <!-- scroll-spy -->
                    <div data-spy="affix">
                        <div id="sliding-content-nav" class="visible-lg-block">
                            <div class="title"><span class="glyphicon glyphicon-list"></span>Sections</div>
                            <div class="" id="data-spy">
                                <ul id="scrollSpyList" class="nav" role="tablist">
                                </ul>  
                            </div>
                            <div class="to-top"><a href="#top">Back to top</a></div>
                        </div>

                        <div id="sliding-content-nav" class="visible-lg-block">
                            <div class="title"><span class="glyphicon glyphicon-copyright-mark"></span>Licence</div>
                            <div class="to-top"><a href="https://creativecommons.org/licenses/by-nc-sa/3.0/">tutorials are CC BY-NC-SA 3.0</a></div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- {% include footer.html %} -->
        </div>
    </body>
</html>
